<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<serviceHostingEnvironment>
			<serviceActivations>
				<add factory="WcfServiceLibrary.NinjectFileLessServiceHostFactory" service="WcfServiceLibrary.ServiceLayer.TimeService" relativeAddress="WcfServiceLibrary.ServiceLayer.TimeService.svc"/>
			</serviceActivations>
		</serviceHostingEnvironment>
		<services>
			<service name="WcfServiceLibrary.ServiceLayer.TimeService" behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/TimeService/"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="WcfServiceLibrary.Contracts.ITimeService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
