<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="webHttpEndpoint" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service name="WcfTimeService.TimeService.TimeService" behaviorConfiguration="WcfTimeService.TimeServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint name="ITimeService" address="" binding="basicHttpBinding" contract="WcfTimeService.TimeService.ITimeService"/>
        <endpoint name="ITimeService" address="net.tcp://localhost/TimeService" binding="netTcpBinding" contract="WcfTimeService.TimeService.ITimeService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8889/TimeService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTimeService.TimeWebService.TimeWebService" behaviorConfiguration="">
        <!-- Service Endpoints -->
        <endpoint name="ITimeWebSevice" address="http://localhost:8887/TimeWebService" binding="webHttpBinding" contract="WcfTimeService.TimeWebService.ITimeWebService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfTimeService.TimeServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" httpHelpPageEnabled="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
