<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.10" targetFramework="net40" />
  <package id="Ninject" version="3.3.3" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net45" />
  <package id="Ninject.Web.Common.SelfHost" version="3.3.0" targetFramework="net45" />
</packages>